.navbar
{
    background-color: #d62828;
    color: white;
    height: 50px;
    
}
.navbarMsg{
   background-color: #f77f00;
}
input::placeholder
{
  color:white;
}
.left{
  flex: 3;
}
.middle{
  flex: 5;
  border-radius: 30px;
  overflow: hidden;
  /* border: 2px solid red; */
}
.right{
  flex: 4;
}

.leftSideBar
{
   /* border: 1px solid red; */
   flex: 3;
   background-color: #eae2b7;
   /* color: white; */
   height: calc(100vh - 50px);
   overflow-y: scroll;
   /* height: 100vh; */
   position:sticky;
   top: 50px
}


.freed
{
   /* border: 1px solid blue; */
   flex: 6;
   /* display: none; */
   background-color: #003049;
   color: white;
}

.feedBtn
{
    background-color: #fcbf49;
    transition: background-color 0.4s;
}

.feedBtn:hover{
     background-color: #f77f00;
}
.rightSideBar
{
   /* border: 1px solid red; */
   flex: 3;
   background-color: #eae2b7;
   
   
}

.rightEachItem
{
   
   transition: background-color 0.3s;
   padding: 5px 20px;
    border-radius:3px;

}

.rightSideBar::-webkit-scrollbar{
  width: 10px;
}

.rightSideBar::-webkit-scrollbar-track{
  background-color: #eae2b7;
}

.rightSideBar::-webkit-scrollbar-thumb{
  background-color: #fcbf49;
}

.leftSideBar::-webkit-scrollbar{
  width: 5px;
}

.leftSideBar::-webkit-scrollbar-track
{
  background-color: #eae2b7;
}
.leftSideBar::-webkit-scrollbar-thumb
{
  background-color: #fcbf49;
}



.leftEachItem
{
   /* border: 1px solid red; */
   padding: 10px 0px;
   margin: 10px 20px;
   /* border-radius: 10px; */
   cursor: pointer;
   transition: background-color 0.4s;
}


.leftEachItem:hover,.btn:hover,.rightEachItem:hover{
  background-color: #fcbf49;
}

.friends{
  /* border: 1px solid red; */
  margin-top: 10px;
}


.share-Div,.postDiv
{
    box-shadow: 0px 0px 16px -8px ;
    
}


.profileImg
{
   border: 1px solid;
   object-fit: cover;
   /* padding: 1px; */
}


.loginBack
{
  background-color: #d62828;
}

.loginBox
{
  background-color: #fcbf49;
}

.followBTN{
  transition: background-color,color 0.3s;
  font-weight: 400;
  
}
.followBTN:hover
{
  background-color: #d62828;
  color:white

}